<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BaseFileSizeInBytes" value="3000" />
		<add key="BaseFileSizeInBytes_Info" value="The base file size is slightly larger than the base size of the generated XML file (before the file is populated with episode content)" />
	</appSettings>
</configuration>
